.skills {
  padding: 100px;
  text-align: center;
  background-color: #f4f4f4;

  h2 {
    font-size: 40px;
  }

  &__subtitle {
    color: #1800ad;
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 18px;
  }

  &__slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 80px;
    padding: 40px 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 100px;
      height: 100%;
      z-index: 2;
      pointer-events: none;
    }

    &::before {
      left: 0;
      background: linear-gradient(to right, #f4f4f4, transparent);
    }

    &::after {
      right: 0;
      background: linear-gradient(to left, #f4f4f4, transparent);
    }
  }

  &__track {
    display: flex;
    gap: 40px;
    width: max-content;

    animation: skills-scroll 25s linear infinite;
    will-change: transform;
  }

  &__item {
    min-width: 120px;
    height: 120px;
    border-radius: 20px;
    border: 3px solid #000;
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.3s ease;

    img {
      width: 70px;
      height: 70px;
      object-fit: contain;
    }

    .skills__label {
      position: absolute;
      bottom: -30px;

      font-size: 20px;
      font-weight: 500;
      color: #000;

      opacity: 0;
      transform: translateY(10px);

      transition: all 0.25s ease;
      pointer-events: none;
    }

    &:hover {
      transform: scale(1.1);

      border: 3px solid transparent;

      background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(45deg, red, orange, yellow, green, blue, purple)
          border-box;
    }
    &:hover .skills__label {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes skills-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
