.contact {
  padding: 80px 100px;
  background-color: #f4f4f4;
  text-align: center;

  h2 {
    font-size: 40px;
  }

  &-subtitle {
    color: #1800ad;
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 18px;
  }

  &-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: left;

    label {
      margin-bottom: 5px;
      font-size: 16px;
    }

    input,
    textarea {
      background: #fff;
      border: none;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 20px;
      font-size: 15px;
      outline: none;
    }

    textarea {
      resize: none;
    }
  }

  &-btn {
    background: #1800ad;
    color: white;
    border: none;
    padding: 18px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    transition:
      transform 0.25s ease,
      box-shadow 0.25s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }

    i {
      font-size: 18px;
    }
  }

  &-info {
    background: #fff;
    padding: 30px 30px 10px;
    border-radius: 25px;
    width: 350px;
    text-align: left;

    margin-top: 60px;

    h3 {
      color: #1800ad;
      margin-bottom: 20px;
      font-size: 22px;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;

    &:hover img {
      transform: scale(1.12);

      border: 2px solid transparent;

      background:
        linear-gradient(#f4f4f4, #fff) padding-box,
        linear-gradient(45deg, red, orange, yellow, green, blue, purple)
          border-box;

      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }

    img {
      width: 50px;
      height: 50px;
      object-fit: contain;

      background: #fff;
      padding: 10px;
      border-radius: 12px;
      border: 2px solid #1800ad;

      transition: 0.3s ease;
    }

    span {
      font-size: 16px;
      font-weight: 500;
    }
  }
}
