.contact {
  padding: 80px 100px;
  background-color: var(--bg-main-T);
  text-align: center;

  h2 {
    font-size: 40px;
    color: var(--title-color);
  }

  &-subtitle {
    color: var(--primary);
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 18px;
  }

  &-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 430px) {
  .contact {
    padding: 40px 20px 60px;

    h2 {
      font-size: 32px;
    }

    &__subtitle {
      font-size: 16px;
      margin-bottom: 40px;
    }
  }
}
