.contact {
  padding: 80px 100px;
  background-color: #f4f4f4;
  text-align: center;

  h2 {
    font-size: 40px;
  }

  &-subtitle {
    color: #1800ad;
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 18px;
  }

  &-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
