.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 40px;

  background: #e1efff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

  &-left,
  &-center,
  &-right {
    display: flex;
    align-items: center;
  }

  &-center {
    flex: 1;
    justify-content: center;
  }
}

.logo {
  width: 60px;
  height: 60px;
  background: #d95363;
  border-radius: 50%;

  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.08);
  }
}

.navbar {
  display: flex;

  .nav-links {
    display: flex;
    gap: 30px;
    list-style: none;

    li {
      position: relative;
      cursor: pointer;

      a {
        text-decoration: none;
        color: #545454;
        font-size: 16px;
        display: inline-block;
        min-width: max-content;
        text-align: center;
        width: 95px;
        transition: 0.3s ease;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -6px;

          width: 0%;
          height: 2px;

          background: #000;
        }

        span {
          display: inline-block;
        }

        &:hover {
          text-transform: uppercase;
          color: #000;
        }

        &:hover::after {
          width: 100%;
        }

        &.active {
          text-transform: uppercase;
          color: #000;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.theme-btn {
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  width: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;

  i {
    font-size: 15px;
  }

  &:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
}
