.parcours {
  padding: 100px 20px;
  text-align: center;
  background-color: var(--bg-main-U);

  h2 {
    font-size: 40px;
    margin-bottom: 80px;
    color: var(--title-color);
  }
}

.timeline {
  position: relative;
  max-width: 1000px;
  margin: auto;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background: #222;
  }
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 20px;
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.6s ease;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  &.left {
    left: 0;
    text-align: right;

    .dot {
      right: -9px;
    }

    .timeline-card {
      margin-left: auto;
      align-items: flex-end;
    }

    .year {
      align-self: flex-end;
    }
  }

  &.right {
    left: 50%;
    text-align: left;

    .dot {
      left: -9px;
    }

    .timeline-card {
      margin-right: auto;
      align-items: flex-start;
    }

    .year {
      align-self: flex-start;
    }
  }
}

.dot {
  position: absolute;
  top: 30px;
  width: 18px;
  height: 18px;
  background: var(--primary);
  border-radius: 50%;
  z-index: 2;
}

.timeline-card {
  width: 380px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  background: var(--tica-back-c);
  border-radius: 20px;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
  transition: all 0.3s ease;

  h3 {
    margin: 5px 0;
    font-size: 18px;
  }
}

.year {
  display: inline-block;
  width: fit-content;
  padding: 6px 14px;
  border-radius: 20px;
  background: var(--primary);
  color: var(--card-text-color);
  font-weight: bold;
}

.speciality {
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
}

.content {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  white-space: normal;
  word-break: break-word;
}

@media screen and (max-width: 375px) {
  .parcours {
    padding: 60px 15px;

    h2 {
      font-size: 32px;
      margin-bottom: 50px;
    }
  }

  .timeline-item {
    &.left,
    &.right {
      text-align: left;
    }
  }

  .timeline {
    &::before {
      left: 20px;
      transform: none;
    }

    &-item {
      width: 100%;
      left: 0 !important;
      padding-left: 50px;
      padding-right: 10px;
      text-align: left;

      .dot {
        left: 11px;
        right: auto;
      }

      .timeline-card {
        width: 100%;
        max-width: 280px;
        margin: 0;
        padding: 20px;
        border-radius: 25px;
        text-align: left;
        align-items: flex-start;
      }

      .year {
        font-size: 14px;
        padding: 6px 12px;
        display: inline-block;
        align-self: flex-start !important;
        margin: 0;
      }

      h3 {
        font-size: 18px;
        text-align: left;
        align-self: flex-start;
      }

      .speciality {
        font-size: 14px;
        text-align: left;
        align-self: flex-start;
      }

      .content {
        font-size: 14px;
        text-align: left;
      }
    }
  }
}
