* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* header background color */
  --header-bg: #e1efff;
  --header-text: #545454;

  /* text/border/card */
  --text-color: #545454;
  --title-color: #000;
  --skill-backg-color: #f4f4f4;
  --card-text-color: #fff;
  --backg-card: #fff;
  --tica-back-c: #f5f5f5;

  /* grand line color*/
  --long-line: #595757;
  --after-effect-w: #fff;
  --first-color-b: #5170ff;

  /* primary color */
  --primary: #1800ad;

  /* background colors */
  --bg-main-T: #f4f4f4;
  --bg-main-U: #fff;

  /* btn color */
  --btn-bg: #1800ad;
  --btn-text: #fff;
}

[data-theme='dark'] {
  /* header background color */
  --header-bg: #a2acb8;
  --header-text: #1a1a1a;

  /* text/border/card */
  --text-color: #fff;
  --title-color: #fff;
  --skill-backg-color: #1f2937;
  --backg-card: #e5e7eb;
  --card-text-color: #0f172a;
  --tica-back-c: #e5e7eb;

  /* grand line color*/
  --long-line: #374151;
  --after-effect-w: #374151;
  --first-color-b: #1800ad;

  /* primary color */
  --primary: #60a5fa;

  /* background colors */
  --bg-main-T: #0f172a;
  --bg-main-U: #020617;

  /* btn color */
  --btn-bg: #2563eb;
  --btn-text: #fff;
}
